body{
    margin:0;
}

.board{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:20px;
}






.footer-wrapper {
    background-image: url("../assets/spaceBG.webp");
    width:100%;
    display: flex;
    align-items: center;
    padding-top:12px;
    padding-bottom:13px;
    border-top:#F4E36E solid 3px;
    border-bottom:#F4E36E solid 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#F4E36E;
}

.nav-wrapper {
    background-image: url("../assets/wave.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    /* position:fixed; */
    width:100%;
    display: flex;
    align-items: center;
    padding-top:12px;
    padding-bottom:13px;
    border-bottom:#848482 solid 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-wrapper a{
    font-size:30px;
    margin-left:5%;
    text-decoration: none;
    color:#848482;
}




.hero-content *{
    margin-bottom:40px;
    margin-right:40px;
}



h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#F4E36E;
    font-size: 50px;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#F4E36E;
    font-size: 40px;
}


.content-split-image-right{
    background-position: center;
    background-image: url("../assets/miltarypogFlip.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.linkGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}

.linkChild1{
    max-width:150px;
    flex-direction:column;
}

.linkChild1 *{
    max-width:150px;
    margin-top:20px
}

.linkChild2{
    max-width:150px;
    flex-direction:column;
}

.linkChild2 *{
    max-width:150px;
    margin-top:20px
}





















.content-split-left{
    background-position: center;
    background-image: url("../assets/fullpog.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin:100px;
}


.content-split-right{
    margin-top:100px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.content-split-right h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#F4E36E;
    font-size: 50px;
}