<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game</title>
        <link rel="stylesheet" type="text/css" href="public/css/styles.css">
    </head>
    <div class="nav-wrapper">
        <a href="/home">HOME</a>
    </div>
    <body  onload="">
        <div class="board">
            <svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="70vw" height="90vh" id="boardZone">
            </svg>
            <div id="controlPanel">

            </div>
        </div>
        <script type="module" src="public/clientScripts/master.js"></script>
        <script type="module" src="public/clientScripts/createBoard.js" ></script>
    </body>
</html>
