<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="public/css/styles.css">
        <title>Login Page</title>
    </head>
    <body onload="oldmessages()">
        <h1>Welcome to Battleship!</h1>
        <p>Click on someone else's name in chat to challenge them to a game of battleship!</p>
        <p>Messages:</p>
        <div class="messageContainer">
        <ul id="messages"></ul>
        <form id="messageForm" action="">
            <input type="hidden" id="token" value="<%= token %>">
            <input id="msg" autocomplete="off" />
            <button>Send</button>
        </form>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
        const socket = io();
        
        const form = document.getElementById("messageForm");
        const token = document.getElementById("token");
        const msg = document.getElementById("msg");

        const messages = document.getElementById("messages");
        
        async function oldmessages() {
            const response = await fetch ("/oldMessages", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
            })
            const result = await response.json();
            console.log(result);
            if(result.length > 0){
                result.forEach(
                    (message) =>
                    {
                        let username = message.username;
                        let content = message.content;
                        let time = message.tiumestamp;
                        createMessage(username, content, time);
                    }
                )
            }       
        }

        form.addEventListener("submit", function(e) {
            e.preventDefault();
            if (msg.value) {
                console.log("sending message " + msg.value + " " + token.value);
                socket.emit("chat message", {msg: msg.value, token: token.value});
                msg.value = "";
            }
        });

        //join room (only called once)
        socket.emit("join room", {token: token.value});

        //join challenge room (only called once)
        socket.emit("join challenge room", {token: token.value});

        function createMessage(username, content, time){
            const item = document.createElement('li');
            item.class = "message";
            let mainMsgContainer = document.createElement('div');
            mainMsgContainer.setAttribute("class", "mainMsgContainer");

            let mainMsgUsernameLink = document.createElement('p');
            mainMsgUsernameLink.setAttribute("class", "mainMsgUsernameLink");
            mainMsgUsernameLink.addEventListener("click", function(e) {
                console.log("clicked on ");
                socket.emit("join challenge room", {token: token.value});
                socket.emit("challenge", {token: token.value, username: username});
            });
            let mainMsgUsernameLinkText = document.createTextNode(username + ":");
            mainMsgUsernameLink.appendChild(mainMsgUsernameLinkText);
            
            let mainMsgContent = document.createElement('p');
            mainMsgContent.setAttribute("class", "mainMsgContent");
            let mainMsgContentText = document.createTextNode(content);
            mainMsgContent.appendChild(mainMsgContentText);

            let dateContainer = document.createElement('div');
            dateContainer.setAttribute("class", "dateContainer");
            let dateMsg = document.createElement('p');
            dateMsg.setAttribute("class", "dateMsg");
            let dateMsgText = document.createTextNode(time);
            dateMsg.appendChild(dateMsgText);
            dateContainer.appendChild(dateMsg);

            item.appendChild(mainMsgContainer);
            mainMsgContainer.appendChild(mainMsgUsernameLink);
            mainMsgContainer.appendChild(mainMsgContent);
            mainMsgContainer.appendChild(dateContainer);

            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        }

        //send chat messages to others in room
        socket.on("chat message", function(result) {            
            let username = result[0];
            let content = result[1];
            let time = result[2];

            createMessage(username, content, time);
        });


        socket.on("recieve challenge", function(result) {
            const item = document.createElement('li');
            item.class = "message";
            
            let username = result[0];

            let replyMsgContainer = document.createElement('div');
            replyMsgContainer.setAttribute("class", "replyMsgContainer");

            let replyMsgUsername = document.createElement('p');
            replyMsgUsername.setAttribute("class", "replyMsgUsername");
            let replyMsgUsernameText = document.createTextNode(username);
            replyMsgUsername.appendChild(replyMsgUsernameText);
            
            let replyString = document.createElement('p');
            replyString.setAttribute("class", "replyString");
            let replyStringText = document.createTextNode(" has challenged you to a game of Battleship!");
            replyString.appendChild(replyStringText);

            let acceptButton = document.createElement('button');
            acceptButton.setAttribute("class", "acceptButton");
            let acceptButtonText = document.createTextNode("Accept");
            acceptButton.appendChild(acceptButtonText);
            acceptButton.onclick = function() {
                socket.emit("accept challenge", {token: token.value, enemyName: username});
            };

            let rejectButton = document.createElement('button');
            rejectButton.setAttribute("class", "rejectButton");
            let rejectButtonText = document.createTextNode("Reject");
            rejectButton.appendChild(rejectButtonText);
            rejectButton.onclick = function() {
                socket.emit("reject challenge", {token: token.value, enemyName: username});
            };

            item.appendChild(replyMsgContainer);
            replyMsgContainer.appendChild(replyMsgUsername);
            replyMsgContainer.appendChild(replyString);
            replyMsgContainer.appendChild(acceptButton);
            replyMsgContainer.appendChild(rejectButton);
            messages.appendChild(item);

        });

        socket.on("challenge rejected", function(result) {
            console.log("challenge rejected");
        });

        socket.on("challenge accepted", function(gameid) {
            console.log("challenge accepted");
            let gameString = "/game?gameid=" + gameid;
            window.location.href = gameString;
        });

        </script>
    </body>
</html>
