body{
    margin:0;
}




/* Global Nav Styles */
.nav-wrapper {
    background-image: url("../assets/wave.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    width:100%;
    display: flex;
    align-items: center;
    padding-top:12px;
    padding-bottom:13px;
    border-bottom:#848482 solid 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-wrapper a{
    font-size:30px;
    margin-left:5%;
    text-decoration: none;
    color:#848482;
}


/* Game Styles */
.board{
    display:flex;
    flex-direction:row;
    margin-top:20px;
}

#controlPanel{
    background-color: #848482;
    border-radius:50px;
    max-height:70vh;
    min-width:20vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:40px;
}

.gridNum{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

